* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    padding: 20px;
}

.produtos {
    width: 50%;
}

.produto {
    margin: 20px;
    text-align: center;
}

.titulo {
    font-size: 3rem;
    margin: 20px 0;
}

.carrinho {
    width: 40%;
    height: 90vh;
    display: flex;
}

.carrinho>.detalhes {
    position: fixed;
    text-align: center;
}

#lista-carrinho {
    list-style-type: none;
    margin: 20px 0;
}

.totalCarrinho {
    font-size: 2rem;
    margin: 20px 0;
}

.botao-comprar {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    background: lightsteelblue;
}